$themes: (
  dark: (
    // 导航栏背景色
    nav-bg-color: #141414,
    // 导航栏字体颜色
    nav-font-color: #d2d7e0,
    // 活动的导航栏背景色
    nav-active-bg-color: #18222c,
    // 活动的导航栏字体颜色
    nav-active-font-color: #3c92ea,

    // 内容背景色
    content-bg-color: #1b1b1f,
    // 内容字体颜色
    content-font-color: #dfdfd6,
  ),

  light: (
    // 导航栏背景色
    nav-bg-color: #fafafa,
    // 导航栏字体颜色
    nav-font-color: #303133,
    // 活动的导航栏背景色
    nav-active-bg-color: #ecf5ff,
    // 活动的导航栏字体颜色
    nav-active-font-color: #51a7ff,

    // 内容背景色
    content-bg-color: #fff,
    // 内容字体颜色
    content-font-color: #3c3c43,
  ),
);
