$themes: (
  dark: (
    // 导航栏背景色
    el-menu-bg-color: #141414,
    // 导航栏字体颜色
    el-menu-text-color: #d2d7e0,
    // 活动的导航栏背景色
    // el-menu-active-color: #18222c,
    // 活动的导航栏字体颜色
    // el-menu-hover-bg-color: #3c92ea,

    // 内容背景色
    content-bg-color: #1b1b1f,
    // 内容字体颜色
    content-font-color: #dfdfd6,
    // 高亮活动的字体颜色
    content-font-active-color: #3c92ea,
    // 内容字体的背景颜色(取自element-plus)
    content-font-bg-color: #1d1e1f,
    // 内容边框颜色
    content-border-color: #4c4d4f,
  ),

  light: (
    // 导航栏背景色
    el-menu-bg-color: #fefefe,
    // 导航栏字体颜色
    el-menu-text-color: #303133,
    // 活动的导航栏背景色
    // el-menu-active-color: #ecf5ff,
    // 活动的导航栏字体颜色
    // el-menu-hover-bg-color: #51a7ff,

    // 内容背景色
    content-bg-color: #eee,
    // 内容字体颜色
    content-font-color: #3c3c43,
    // 高亮活动的字体颜色
    content-font-active-color: #51a7ff,
    // 内容字体的背景颜色(取自element-plus)
    content-font-bg-color: #fff,
    // 内容边框颜色
    content-border-color: #dcdfe6,
  ),
);
